---
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: pool
spec:
  allowFirstLastIPs: "No"
  blocks:
    - cidr: "192.168.178.0/24"
    - cidr: "fd7b:7e8b:45f9::/64"
---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: l2-policy
spec:
  loadBalancerIPs: true
  # NOTE: interfaces might need to be set if you have more than one active NIC on your hosts
  # Match actual interface names (enp*, eno*, eth*) on Talos nodes
  interfaces:
    - ^enp.*
    - ^eno.*
    - ^eth.*
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
