---
apiVersion: v1
kind: ConfigMap
metadata:
  name: blocky-config
data:
  config.yml: |
    upstreams:
      groups:
        default:
          - 1.1.1.1
          - 9.9.9.9

    conditional:
      mapping:
        alumpe.de: 192.168.178.141

    blocking:
      denylists:
        ads:
          - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
      clientGroupsBlock:
        default:
          - ads

    caching:
      minTime: 5m
      maxTime: 30m
      prefetching: true

    ports:
      dns: 53
      http: 4000

    log:
      level: info
      format: text
