---
apiVersion: v1
kind: Service
metadata:
  name: blocky
  labels:
    app: blocky
  annotations:
    lbipam.cilium.io/ips: "192.168.178.144"
spec:
  type: LoadBalancer
  selector:
    app: blocky
  ports:
    - name: dns-udp
      port: 53
      targetPort: 53
      protocol: UDP
    - name: dns-tcp
      port: 53
      targetPort: 53
      protocol: TCP
    - name: http
      port: 4000
      targetPort: 4000
      protocol: TCP
  externalTrafficPolicy: Cluster
