---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: internal-gateway
  namespace: network
spec:
  endpoints:
    - dnsName: internal.alumpe.de
      recordType: A
      targets:
        - 192.168.178.142
