---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-adguard
spec:
  chartRef:
    kind: OCIRepository
    name: adguard-dns
  interval: 1h
  values:
    fullnameOverride: *app
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v11.0.2
        env:
          - name: ADGUARD_URL
            valueFrom:
              secretKeyRef:
                name: adguard-dns-secret
                key: url
          - name: ADGUARD_USER
            valueFrom:
              secretKeyRef:
                name: adguard-dns-secret
                key: user
          - name: ADGUARD_PASSWORD
            valueFrom:
              secretKeyRef:
                name: adguard-dns-secret
                key: password
          - name: LOG_LEVEL
            value: debug
          - name: ADGUARD_DEBUG
            value: "true"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 5
    extraArgs:
      - --gateway-name=envoy-internal
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
    policy: sync
    sources: ["crd", "gateway-httproute"]
    domainFilters: ["${SECRET_DOMAIN}"]
    triggerLoopOnEvent: true
    podAnnotations:
      secret.reloader.stakater.com/reload: adguard-dns-secret
    serviceMonitor:
      enabled: true
