---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: daily-backup
  namespace: longhorn-system
spec:
  cron: "0 14 * * *"
  task: backup
  retain: 7
  groups:
    - default
  labels:
    backup: daily
